<mat-toolbar class="app-toolbar no-print mat-toolbar mat-primary mat-toolbar-multiple-rows" color="primary">    
        <button class="hamburger mat-button" mat-button="" title="Docs menu" (click)="drawer.toggle()">
                <span class="mat-button-wrapper">
                        <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true"
                        ><svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24">
                                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
                </mat-icon></span>
                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                <div class="mat-button-focus-overlay"></div>
        </button>
        <span>shamim Khan - C#Corner</span>    
        <span class="demo-toolbar"></span>    
        <button mat-button href="#">Go To My Blog</button>            
</mat-toolbar>